/* body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.container-fluid {
  padding: 2rem 0;
}

.text-primary {
  color: #007bff !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-dark {
  background-color: #343a40 !important;
  color: #fff;
}

.rounded {
  border-radius: 0.5rem !important;
} */
